/**
 * Created on 19.04.23.
 */

.THIS .myTd {
    padding-top: 28px;
    vertical-align: top;
    padding-bottom: 8px;
}

/*.THIS .myTextArea {*/
/*    --sds-c-textarea-sizing-min-height:84.5px;*/
/*}*/